<script>
  import { onMount, onDestroy, createEventDispatcher } from "svelte";
  export let page;
  const dispatch = createEventDispatcher();
  let canvas;
  let width;
  let height;
  let clientWidth;
  let mounted;
  let position = {
    x: 0,
    y: 0
  }
  function measure() {
    dispatch("measure", {
      scale: canvas.clientWidth / width
    });
  }
  async function render() {
    const _page = await page;
    const context = canvas.getContext("2d");
    const viewport = _page.getViewport({ scale: 1, rotation: 0 });
    width = viewport.width;
    height = viewport.height;
    await _page.render({
      canvasContext: context,
      viewport
    }).promise;
    measure();
    window.addEventListener("resize", measure);
  }
  onMount(render);
  onDestroy(() => {
    window.removeEventListener("resize", measure);
  });

  function setQrPositionByClick(x, y){
     position.x = x
     position.y = y

     dispatch('updateQrPosition',position)
  }
</script>

<div>
  <canvas
    bind:this={canvas}
    class="max-w-full"
    style="width: {width}px;"
    on:click={(e) => {
        if (e.ctrlKey) {
          // Realizar acciones específicas para la combinación de teclas Control + clic
          setQrPositionByClick(e.clientX - canvas.getBoundingClientRect().left , e.clientY - canvas.getBoundingClientRect().top)
        }
    } }
    {width}
    {height} />
</div>
